#root {
  margin: 0 auto;
  text-align: center;
}

:root {
  --bs-font-sans-serif: "Raleway",
    sans-serif !important
}

.footer {
  margin-top: auto;
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
}

.product-list {
  min-height: 100vh !important
}

.product-title {
  width: 1vw !important
}